.new-background-color{
    --background: #33cccc;
  }

  .recordingiconcls {
    margin-right: 5%;
    font-size: 150%;
  }
  .recording-btn{
    font-size: 65px !important;
    margin-top:0px !important;
    color: #33cccc;
  }
  .prgrs-bar{
    background-color: #33cccc;
  }
  .prgrs-baar{
    width: 97% !important;
  }
  .voice-img{
    height:80px !important;
    width:  97% !important;
  }
  .progrs-count{
    margin-top:0px !important;
    padding-top:0px !important;
    font-size: 10px !important;
  }
  .card-text{
    font-weight:bold !important;
    color:#33cccc !important;
    margin-top: 0px !important;
    padding-top: 0px!important;
  }
  .title-heading{
    margin-top:10px !important;
    margin-left: 34px !important;
  }