<ion-header>
    <ion-toolbar color="primary">
        <ion-menu-button color="light" slot="start" autoHide="true" (click)="hamburger()">
            <ion-icon src="./assets/custom-menu.svg"></ion-icon>
        </ion-menu-button>
        <ion-title>Recordings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let audio of audioList; index as i;">
        <ion-card-header>
            <ion-card-title>
                <ion-row (click)="playAudio(audio.filename, i)">
                    <ion-col size="8">
                        <p class="card-text">{{audio.question}}</p>
                    </ion-col>
                    <ion-col size="4" class="text-center">
                        <ion-icon name="caret-forward-circle" [ngClass]="checkIfRowEnable(i) ? 'recording-btn': 'grey-icon' "></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <p class="card-date">{{audio.date}} {{getFormattedMonth(audio.month)}} {{audio.year}} | Asked by Tim Madden</p>
                    </ion-col>
                    <ion-col size="4" class="text-center">
                        <p class="card-time">{{getFormattedHour(audio.hours)}}: {{getFormattedMinute(audio.minutes)}}: {{getFormattedSecond(audio.seconds)}}</p>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="checkIfRowEnable(i)">
                    <ion-col> <img src="assets/images/soundwave.gif" class="voice-img"><br>
                        <ion-progress-bar color="voice" value="0.8" class="prgrs-baar"></ion-progress-bar>
                        <p class="progrs-count">0.124</p>
                    </ion-col>
                </ion-row>
            </ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>
