<ion-header>
    <ion-toolbar color="primary">
        <ion-menu-button color="light" slot="start" autoHide="true" (click)="hamburger()">
            <img class="toggle-icon" src='assets/images/togglemenu.png'>
        </ion-menu-button>
        <ion-title>Recordings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-card *ngFor="let audio of audioList; index as i;"> -->
        <ion-card class="listing-sec">

        <ion-card-header>
            <ion-card-title>
                <ion-row (click)="playAudio(audio.filename, i, audio)">
                    <ion-col size="8">
                        <!-- <p class="card-text">{{audio.question}}</p> -->
                        <p class="card-text">Where were you born?</p>

                    </ion-col>
                    <ion-col size="4" class="text-center audio-icon">
                        <!-- <ion-icon name="caret-forward-circle" [ngClass]="checkIfRowEnable(i) ? 'recording-btn': 'grey-icon' "></ion-icon> -->
                        <img src="assets/images/shadowplay.png" class="greyplay">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <p class="card-date">{{audio.date}} {{getFormattedMonth(audio.month)}} {{audio.year}} | Asked by Voices</p>
                        <!-- <p class="card-date">12 Aug 2019 | Asked by Voices</p> -->

                    </ion-col>
                    <ion-col size="4" class="text-center">
                        <p class="card-time">{{getFormattedHour(audio.hours)}}: {{getFormattedMinute(audio.minutes)}}: {{getFormattedSecond(audio.seconds)}}</p>
                        <!-- <p class="card-time">00:05:36</p> -->

                    </ion-col>
                </ion-row>
                <ion-row *ngIf="checkIfRowEnable(i)">
                    <!-- <ion-row > -->

                    <ion-col> <img src="assets/images/soundwave.gif" class="voice-img"><br>
                        <ion-progress-bar color="voice" [value]="p_bar_value" class="prgrs-baar"></ion-progress-bar>
                        <p class="progrs-count">{{progress}}</p>
                        <p class="progrs-count-complete">{{getFormattedHour(audio.hours)}}: {{getFormattedMinute(audio.minutes)}}: {{getFormattedSecond(audio.seconds)}}</p>
                    </ion-col>
                </ion-row>
            </ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card class="listing-sec">

        <ion-card-header>
            <ion-card-title>
                <ion-row (click)="playAudio(audio.filename, i, audio)">
                    <ion-col size="8">
                        <!-- <p class="card-text">{{audio.question}}</p> -->
                        <p class="card-text">Where were you born?</p>

                    </ion-col>
                    <ion-col size="4" class="text-center audio-icon">
                        <!-- <ion-icon name="caret-forward-circle" [ngClass]="checkIfRowEnable(i) ? 'recording-btn': 'grey-icon' "></ion-icon> -->
                        <img src="assets/images/shadowplaygrey.png" class="greyplay">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <!-- <p class="card-date">{{audio.date}} {{getFormattedMonth(audio.month)}} {{audio.year}} | Asked by Voices</p> -->
                        <p class="card-date">12 Aug 2019 | Asked by Voices</p>

                    </ion-col>
                    <ion-col size="4" class="text-center">
                        <!-- <p class="card-time">{{getFormattedHour(audio.hours)}}: {{getFormattedMinute(audio.minutes)}}: {{getFormattedSecond(audio.seconds)}}</p> -->
                        <p class="card-time">00:05:36</p>

                    </ion-col>
                </ion-row>
                <!-- <ion-row *ngIf="checkIfRowEnable(i)"> -->
                   
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card class="listing-sec">

        <ion-card-header>
            <ion-card-title>
                <ion-row (click)="playAudio(audio.filename, i, audio)">
                    <ion-col size="8">
                        <!-- <p class="card-text">{{audio.question}}</p> -->
                        <p class="card-text">Who was your best friend when you were growing up, and what did you like about them?</p>

                    </ion-col>
                    <ion-col size="4" class="text-center audio-icon">
                        <!-- <ion-icon name="caret-forward-circle" [ngClass]="checkIfRowEnable(i) ? 'recording-btn': 'grey-icon' "></ion-icon> -->
                        <img src="assets/images/shadowplay.png" class="greyplay">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="8">
                        <!-- <p class="card-date">{{audio.date}} {{getFormattedMonth(audio.month)}} {{audio.year}} | Asked by Voices</p> -->
                        <p class="card-date">12 Aug 2019 | Asked by Voices</p>

                    </ion-col>
                    <ion-col size="4" class="text-center">
                        <!-- <p class="card-time">{{getFormattedHour(audio.hours)}}: {{getFormattedMinute(audio.minutes)}}: {{getFormattedSecond(audio.seconds)}}</p> -->
                        <p class="card-time">00:05:36</p>

                    </ion-col>
                </ion-row>
                <!-- <ion-row *ngIf="checkIfRowEnable(i)"> -->
                   
            </ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>
