<ion-header>
    <ion-toolbar color="primary">
        <ion-menu-button color="light" slot="start" autoHide="true" (click)="hamburger()">
            <img class="toggle-icon" src='assets/images/togglemenu.png'>
        </ion-menu-button>
        <ion-title>Recordings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="listing-sec" *ngFor="let audio of audioList; index as i;">
    <!-- <ion-card class="listing-sec"> -->

        <ion-card-header *ngIf="audio.previousPeer == false">
            <ion-card-title>
                <ion-row class="flex">
                    <ion-col class="question">
                        <p class="card-text">{{audio.question}}</p>
                        <!-- <p class="card-text">Where were you born?, Where is your childhood spent?</p> -->
                    </ion-col>
                    <ion-col class="text-center audio-icon" (click)="pauseAudio()" *ngIf="showPause && checkIfRowEnable(i)">
                        <img src="assets/images/pauseRecordingList.png" class="greyplay">

                    </ion-col>
                    <ion-col class="text-center audio-icon" (click)="playAudio(i)" *ngIf="showPlay && checkIfRowEnable(i)">

                    <!-- <ion-col class="text-center audio-icon" (click)="playAudio(audio.filename, i, audio)" *ngIf="showPlay && checkIfRowEnable(i)"> -->
                        <img src="assets/images/shadowplay.png" class="greyplay">

                    </ion-col>
                    <ion-col class="text-center audio-icon" (click)="playAudio(i)" *ngIf="checkIfRowEnable(i) == false">

                    <!-- <ion-col class="text-center audio-icon" (click)="playAudio(audio.filename, i, audio)" *ngIf="checkIfRowEnable(i) == false"> -->
                        <img src="assets/images/shadowplaygrey.png" class="greyplay">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-justify-content-between">
                    <ion-col size="8">
                        <p class="card-date">{{audio.date}} {{getFormattedMonth(audio.month)}} {{audio.year}} | Asked by Voices</p>
                        <!-- <p class="card-date">12 Aug 2019 | Asked by Voices</p> -->

                    </ion-col>
                    <ion-col size="4" class="ion-text-center">
                        <p class="card-time">{{getFormattedHour(audio.hours)}}: {{getFormattedMinute(audio.minutes)}}: {{getFormattedSecond(audio.seconds)}}</p>
                        <!-- <p class="card-time">00:05:36</p> -->

                    </ion-col>
                </ion-row>
                <ion-row *ngIf="checkIfRowEnable(i)">
                <!-- <ion-row> -->

                    <ion-col> 
                        <img src="assets/1sec/gif/medium.gif" class="voice-img" *ngIf="isAudioPaused == false">
                        <img src="assets/images/straightLine.png" class="voice-img" *ngIf="isAudioPaused"><br>
                        <ion-progress-bar color="voice" [value]="p_bar_value" class="prgrs-baar"></ion-progress-bar>
                        <!-- <p class="progrs-count">00:02:34</p>
                        <p class="progrs-count-complete">00:05:36</p> -->
                        <p class="progrs-count">{{progress}}</p>
                        <p class="progrs-count-complete">{{getFormattedHour(audio.hours)}}: {{getFormattedMinute(audio.minutes)}}: {{getFormattedSecond(audio.seconds)}}</p>

                    </ion-col>

                </ion-row>
            </ion-card-title>
        </ion-card-header>
    </ion-card>


  </ion-content>