.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

ion-menu-button {
    padding-left: 0.4rem !important;
}

.main ion-card-title {
    font-size: 1.5rem;
}

// Fixed Card
.card-fixed {
    display: block;
    height: 27vh;
    overflow: auto;
}

ion-card {
    border-radius: 8px;
}

.custom-card {
    margin: 10px 16px;
    padding: 1rem 1rem;
}

.custom-card img {
    float: left;
    margin-right: 2rem;
}

.custom-card ion-label.text-red {
    font-size: 26px !important;
    text-align: left;
    color: #9E0D0D !important;
    text-transform: none;
}

.custom-card ion-label.text-yellow {
    font-size: 26px !important;
    text-align: left;
    color: #FF9101 !important;
    text-transform: none;
}

.custom-card ion-label.text-green {
    font-size: 26px !important;
    text-align: left;
    color: #217A03 !important;
    text-transform: none;
}

// Modal Start
.custom-modal {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-modal ion-card-header{
    text-align: center;
}

.modal-btn{
    height: 2em !important;
    font-size: 2rem;
    --padding-start: 26px;
}
// Modal End

.text-primary {
    color: #048988;
    font-size: 1.6rem;
    font-weight: bold;
}

.footer {
    flex: 1;
    position: absolute;
    bottom: 0;
    width: 100%
}

// For Landscape
@media (orientation: landscape) {
    .main {
        display: inherit;
        flex-direction: inherit;
        height: inherit;
    }

    .footer {
        flex: inherit;
        position: inherit;
        bottom: inherit;
        width: auto;
    }

    .modal-btn{
        height: 2em !important;
        font-size: 2rem;
    }
}
