.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.button-round {
    --border-radius: 14px !important;
    height: 6em !important;
}

.button-round ion-icon {
    font-size: 80px !important;
    font-weight: bold;
    padding: 0rem 1rem;
}

.button-round ion-label {
    font-size: 26px !important;
    font-weight: bold;
    text-align: left;
}

// Modal Start
.custom-modal {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-modal ion-card-header{
    text-align: center;
}

.modal-btn{
    height: 2em !important;
    font-size: 2rem;
}
// Modal End

.text-primary {
    color: #06BDBB;
    font-size: 1.6rem;
    font-weight: bold;
}

.footer {
    flex: 1;
    position: absolute;
    bottom: 0;
    width: 100%
}
