<ion-header [translucent]="true">
    <ion-toolbar color="primary" >
        <ion-menu-button color="light" slot="start" autoHide="true" (click)="hamburger()">
            <img class="toggle-icon" src='assets/images/togglemenu.png'>
        </ion-menu-button>
        <ion-title>Answer Recorded</ion-title>
        <ion-buttons collapse="true" slot="end">
            <ion-button (click)="goToRecordingsList()">
                <img class="head-icon" src="assets/images/headphone-symbol (1).png">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="main">
       
        <div>
            <ion-card class="card-fixed">
                <ion-card-header>
                    <ion-card-title color="primary">{{question.question}}</ion-card-title>
                </ion-card-header>
            </ion-card>

            <h2 class="text-primary">Your Answer has been successfully recorded.</h2>

        </div>

        <!-- Footer Start -->
        <div class="footer-btn" >
            <button (click)="nextQuestion()" class="btn-green">
                <img class="correct-icon common-icon-list" src="assets/images/new/check2.png">
                    Next <br> Question
            </button>
            <button (click)="startPlayingAnswer()" *ngIf="canPlay" class="btn-yellow">
                <img class="playstart-icon common-icon-list" src="assets/images/new/play-button1.png">
                Play <br> Answer
            </button>
            <button (click)="pausePlayingAnswer()" *ngIf="canPause" class="btn-yellow">
                <img class="pause-icon common-icon-list" src="assets/images/new/pause2.png">
                Pause <br> Answer
            </button>
            <button (click)="deleteAnswer()" class="btn-red">
                <img class="delete-icon common-icon-list" src="assets/images/delete.png">
                Delete <br> Answer
            </button>
        </div>
    </div>
</ion-content>