<ion-header [translucent]="true">
    <ion-toolbar color="primary" *ngIf="deleteModeDisable">
        <ion-menu-button color="light" slot="start" autoHide="true" (click)="hamburger()"></ion-menu-button>
        <ion-title>Answer Recorded</ion-title>
        <ion-buttons collapse="true" slot="end">
            <ion-button (click)="goToRecordingsList()">
                <ion-icon slot="end" name="headset-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card *ngIf="deleteModeEnable">
        <ion-card-header>
            <ion-card-title color="primary">Are you sure you want to cancel your recording?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col class="ion-no-padding">
                    <ion-button expand="full" size="large" color="primary" (click)="backToQuestionScreen()">
                        <ion-icon name="checkmark"></ion-icon>Yes
                    </ion-button>
                </ion-col>

                <ion-col class="ion-no-padding">
                    <ion-button expand="full" size="large" color="danger" (click)="backToRecording()">
                        <ion-icon name="close"></ion-icon>No
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <div *ngIf="deleteModeDisable">
        <ion-card>
            <ion-card-header>
                <ion-card-title color="primary">{{question.question}}</ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card style="box-shadow: none;">
            <h1>Your Answer has been successfully recorded.</h1>
        </ion-card>

        <ion-card style="box-shadow: none;">
            <ion-button expand="block" color="success" fill="outline" (click)="nextQuestion()">
                <ion-icon name="checkmark"></ion-icon>
                Next Question
            </ion-button>
            <ion-button expand="block" color="warning" fill="outline" (click)="startPlayingAnswer()">
                <ion-icon name="play"></ion-icon>
                Play Answer
            </ion-button>
            <ion-button expand="block" color="warning" fill="outline" (click)="pausePlayingAnswer()" *ngIf="canPause">
                <ion-icon name="pause"></ion-icon>
                Pause Answer
            </ion-button>
            <ion-button expand="block" color="danger" fill="outline" (click)="deleteAnswer()">
                <ion-icon name="trash"></ion-icon>
                Delete Answer
            </ion-button>
        </ion-card>
    </div>
</ion-content>
