.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main ion-card-title {
    font-size: 2rem;
}

.button-round {
    --border-radius: 14px !important;
    height: 6em !important;
    --padding-start: 0px;
}

.button-round ion-icon.text-red {
    font-size: 80px !important;
    font-weight: bold;
    --ionicon-stroke-width: 62px;
    color: #EB445A !important;
}

.button-round ion-icon.text-yellow {
    font-size: 80px !important;
    font-weight: bold;
    --ionicon-stroke-width: 62px;
    color: #FF9002 !important;
}

.button-round ion-icon.text-green {
    font-size: 80px !important;
    font-weight: bold;
    --ionicon-stroke-width: 62px;
    color: #2FD370 !important;
}

.button-round ion-label.text-red {
    font-size: 30px !important;
    font-weight: bold;
    text-align: left;
    color: #EB445A !important;
}

.button-round ion-label.text-yellow {
    font-size: 30px !important;
    font-weight: bold;
    text-align: left;
    color: #FF9002 !important;
}

.button-round ion-label.text-green {
    font-size: 30px !important;
    font-weight: bold;
    text-align: left;
    color: #2FD370 !important;
}

.custom-card {
    margin: 6px 16px;
}

// Modal Start
.custom-modal {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-modal ion-card-header{
    text-align: center;
}

.modal-btn{
    height: 2em !important;
    font-size: 2rem;
}
// Modal End

.text-primary {
    color: #06BDBB;
    font-size: 1.6rem;
    font-weight: bold;
}

.footer {
    flex: 1;
    position: absolute;
    bottom: 0;
    width: 100%
}
