<ion-header [translucent]="true">
    <ion-toolbar color="primary" *ngIf="deleteModeDisable">
        <ion-menu-button color="light" slot="start" autoHide="true" (click)="hamburger()">
            <img class="toggle-icon" src='assets/images/togglemenu.png'>
        </ion-menu-button>
        <ion-title>Answer Recorded</ion-title>
        <ion-buttons collapse="true" slot="end">
            <ion-button (click)="goToRecordingsList()">
                <img class="head-icon" src="assets/images/headphone-symbol (1).png">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="main">
        <!-- Content Start -->
        <!--<div class="custom-modal" *ngIf="deleteModeEnable">
            <ion-card style="padding: 3rem 0rem;">
                <ion-card-header>
                    <ion-card-title color="primary">Are you sure you want to cancel your recording?</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col class="ion-no-padding">
                            <ion-button shape="round" class="modal-btn" expand="full" size="large" fill="outline" color="primary" (click)="backToQuestionScreen()">YES</ion-button>
                        </ion-col>

                        <ion-col class="ion-no-padding">
                            <ion-button shape="round" class="modal-btn" expand="full" size="large" fill="outline" color="danger" (click)="backToRecording()">NO</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </div>-->


        <!-- <ion-card class="cardclscancel" *ngIf="deleteModeEnable">
            <div class="cancel-popup">
                <ion-card-header>
                    <ion-card-title class="titleclscancel">Are you sure you <br>want to delete <br>your recording?</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div>
                        <ion-grid class="gridcls">
                            <ion-row>
                                <ion-col size="5">
                                    <ion-button class="borderclsgrn" (click)="backToQuestionScreen()">
                                        <ion-label class="labelclsgrncancel">
                                            YES
                                        </ion-label>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="5">
                                    <ion-button class="borderclsred" (click)="backToRecording()">
                                        <ion-label class="labelclsredcancel">
                                            NO
                                        </ion-label>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-card-content>
            </div>
        </ion-card> -->


        <div *ngIf="deleteModeDisable">
            <ion-card class="card-fixed">
                <ion-card-header>
                    <ion-card-title color="primary">{{question.question}}</ion-card-title>
                </ion-card-header>
            </ion-card>

            <h2 class="text-primary">Your Answer has been successfully recorded.</h2>

        </div>

        <!-- Footer Start -->
        <div class="footer-btn" *ngIf="deleteModeDisable">
            <button (click)="nextQuestion()" class="btn-red">
                <img class="correct-icon common-icon-list" src="assets/images/check.png">
                    Next <br> Question
            </button>
            <button (click)="startPlayingAnswer()" *ngIf="canPlay" class="btn-yellow">
                <img class="playstart-icon common-icon-list" src="assets/images/play-button.png">
                Play <br> Answer
            </button>
            <button (click)="pausePlayingAnswer()" *ngIf="canPause" class="btn-yellow">
                <img class="pause-icon common-icon-list" src="assets/images/pause.png">
                Pause <br> Answer
            </button>
            <button (click)="deleteAnswer()" class="btn-green">
                <img class="delete-icon common-icon-list" src="assets/images/delete.png">
                Delete <br> Answer
            </button>
        </div>
    </div>
</ion-content>