<ion-header [translucent]="true">
    <ion-toolbar color="primary" *ngIf="cancelModeDisable">
        <ion-menu-button color="light" slot="start" autoHide="true" (click)="hamburger()"></ion-menu-button>
        <ion-title>Record Answer</ion-title>
        <ion-buttons collapse="true" slot="end">
            <ion-button (click)="goToRecordingsList()">
                <ion-icon slot="end" name="headset-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="main">
        <!-- Content Start -->
        <div class="custom-modal" *ngIf="cancelModeEnable">
            <ion-card>
                <ion-card-header>
                    <ion-card-title color="primary">Are you sure you want to cancel your recording?</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-row>
                        <ion-col class="ion-no-padding">
                            <ion-button class="modal-btn" shape="round" expand="full" size="large" fill="outline" color="primary" (click)="backToQuestionScreen()">YES</ion-button>
                        </ion-col>

                        <ion-col class="ion-no-padding">
                            <ion-button class="modal-btn" shape="round" expand="full" size="large" fill="outline" color="danger" (click)="backToRecording()">NO</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </div>

        <ion-card *ngIf="cancelModeDisable">
            <ion-card-header>
                <ion-card-title color="primary">{{question.question}}</ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-card *ngIf="cancelModeDisable" style="box-shadow: none;">
            <div class="ion-text-center text-primary">
                <h1 *ngIf="enable5" >
                    5
                </h1>
                <h1 *ngIf="enable4">
                    4
                </h1>
                <h1 *ngIf="enable3">
                    3
                </h1>
                <h1 *ngIf="enable2">
                    2
                </h1>
                <h1 *ngIf="enable1">
                    1
                </h1>
                <h2 *ngIf="started">
                    Recording Started
                </h2>
                <div *ngIf="animation">
                    <img src="assets/images/source.gif" *ngIf="showGif">
                    <img src="assets/images/recording.png" *ngIf="showPlain">
                </div>
            </div>
        </ion-card>

        <!-- Footer Start -->
        <div class="footer">
            <ion-grid *ngIf="cancelModeDisable">
                <ion-row>
                    <ion-col>
                        <ion-button shape="round" expand="full" size="large" fill="outline" color="danger" (click)="goToCancelScreen()">
                            <div>
                                <ion-icon name="close"></ion-icon><br>
                                Cancel
                            </div>
                        </ion-button>
                    </ion-col>

                    <ion-col>
                        <ion-button shape="round" expand="full" size="large" fill="outline" color="warning" (click)="pauseRecording()" *ngIf="isRecord">
                            <div>
                                <ion-icon name="pause"></ion-icon><br>
                                Pause
                            </div>
                        </ion-button>
                        <ion-button shape="round" expand="full" size="large" fill="outline" color="warning" (click)="resumeRecording()" *ngIf="isPaused">
                            <div>
                                <ion-icon name="mic-outline"></ion-icon><br>
                                Record
                            </div>
                        </ion-button>
                    </ion-col>

                    <ion-col>
                        <ion-button shape="round" expand="full" size="large" fill="outline" color="success" (click)="saveRecording()">
                            <div>
                                <ion-icon name="checkmark"></ion-icon><br>
                                Save
                            </div>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>

<!-- <ion-footer>
    <ion-grid *ngIf="cancelModeDisable">
        <ion-row>
            <ion-col>
                <ion-button expand="full" size="large" color="danger" (click)="goToCancelScreen()">
                    <div>
                        <ion-icon name="close"></ion-icon><br>
                        Cancel
                    </div>
                </ion-button>
            </ion-col>

            <ion-col>
                <ion-button expand="full" size="large" color="warning" (click)="pauseRecording()" *ngIf="isRecord">
                    <div>
                        <ion-icon name="pause"></ion-icon><br>
                        Pause
                    </div>
                </ion-button>
                <ion-button expand="full" size="large" color="warning" (click)="resumeRecording()" *ngIf="isPaused">
                    <div>
                        <ion-icon name="pause"></ion-icon><br>
                        Record
                    </div>
                </ion-button>
            </ion-col>

            <ion-col>
                <ion-button expand="full" size="large" color="success" (click)="saveRecording()">
                    <div>
                        <ion-icon name="checkmark"></ion-icon><br>
                        Save
                    </div>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer> -->
