.main {
    height: 100%;
    background: #f1f5f5;
    padding: 1px;
}

.voices-icon {
    width: 50px;
    border-radius: 0;
    padding-top: 6px;
    height: 36px;
}

.head-icon {
    width: 30px;
}

// Fixed Card
.card-fixed {
    height: calc(45vh - 56px);
    overflow-y: auto;
    border-radius: 12px;
    margin-top: 15px;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    ion-card-title {
        font-size: 42px;
        font-weight: 600;
        @media(max-width: 360px) {
            font-size: 30px;
        }
    }
}

.footer {
    h1 {
        font-size: 40vw;
        font-weight: 900;
        color: #06BDBB;
        @media(max-width: 360px) {
            font-size: 30vw;
        }
    }
    h2 {
        font-size: 12vw;
        font-weight: 500;
        color: #06BDBB;
        margin-top: 40px;
        @media(max-width: 360px) {
            font-size: 10vw;
            margin-top: 20px
        }
    }
    img.waves {
        margin: -20% 0 0 0;
        display: block;
    }
}

.footer-btn {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    @media(max-width: 575px) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 16px;
    }
    button {
        background: #fff;
        box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 30%);
        flex: 0 0 32%;
        text-align: center;
        font-size: 23px;
        font-weight: 900;
        border-radius: 8px;
        padding: 26px 10px;
        @media(max-width: 360px) {
            font-size: 16px;
        }
        img {
            height: 80px;
            margin-bottom: 10px;
            @media(max-width: 360px) {
                height: 60px;
            }
        }
    }
    .btn-red {
        color: #9d1414;
    }
    .btn-yellow {
        color: #ff9000;
    }
    .btn-green {
        color: #267905;
    }
}

@media (orientation: landscape) {
    .footer-btn {
        position: static !important;
    }
    .card-fixed {
        height: auto;
    }
    .main {
        height: auto;
    }
    .footer {
        h1 {
            font-size: 30vw;
            font-weight: 900;
            color: #06BDBB;
        }
        h2 {
            font-size: 8vw;
            font-weight: 500;
            color: #06BDBB;
            margin-top: 40px;
        }
        img.waves {
            margin: 40px 0 0 0;
            display: block;
        }
    }
}