<ion-header >
  <ion-toolbar class="new-background-color" *ngIf="cancelModeDisable">
    <ion-menu-button slot="start" autoHide="true" (click)="hamburger()"></ion-menu-button>

    <ion-label class="headerTitlecls">
      Record Answer
    </ion-label>
    <!-- <ion-title slot="start">Record Answer</ion-title> -->
    <ion-icon slot="end" class="recordingiconcls" name="headset-outline" ></ion-icon>

  </ion-toolbar>

  <ion-toolbar class="new-background-color" *ngIf="cancelModeEnable">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-card class="cardclscancel" *ngIf="cancelModeEnable">
    <ion-card-header>
      <ion-card-title class="titleclscancel">Are you sure you want to cancel your recording?</ion-card-title>
    </ion-card-header>
        <ion-card-content>
          <div>
          <ion-grid class="gridcls">
            <ion-row>
              <ion-col size="5">
               <ion-button class="borderclsgrn" (click)="backToQuestionScreen()">
                 <ion-label class="labelclsgrncancel">
                   YES
                 </ion-label>
                 </ion-button>
              </ion-col>
              <ion-col size="5">
                <ion-button class="borderclsred" (click)="backToRecording()">
                 <ion-label class="labelclsredcancel">
                   NO
                 </ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
         </div>
          </ion-card-content>
   </ion-card>


  <ion-card class="cardcls" *ngIf="cancelModeDisable">
    <ion-card-header>
      <ion-card-title><p class="titlecls">{{question.question}}</p></ion-card-title>
    </ion-card-header>
  </ion-card>
  <div *ngIf="cancelModeDisable" >
  <div class="countdwncls" *ngIf="enable5">
      5
  </div>
  <div class="countdwncls" *ngIf="enable4">
    4
</div>
<div class="countdwncls" *ngIf="enable3">
  3
</div>
<div class="countdwncls" *ngIf="enable2">
  2
</div>
<div class="countdwncls" *ngIf="enable1">
  1
</div>
<div class="countdwnstrtcls" *ngIf="started">
  Recording Started
</div>
<div *ngIf="animation">

  <img src="assets/images/source.gif" class="voice-img" *ngIf="showGif">
  <img src="assets/images/recording.png" class="voice-img" *ngIf="showPlain">
</div>
</div>
</ion-content>

<ion-footer class="footercls" >
  <div *ngIf="cancelModeDisable" >

  <ion-button class="bigbtn" (click)="goToCancelScreen()">
    <ion-grid>
      <ion-row>
        <ion-icon name="close-outline" class="btniconclsred"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-label class="labelclsred">
          Cancel
        </ion-label>

      </ion-row>
    </ion-grid>
  </ion-button>
  <ion-button class="bigbtn" (click)="pauseRecording()" *ngIf="isRecord">
    <ion-grid>
      <ion-row>
        <ion-icon name="pause-outline" class="btniconclsorange"></ion-icon>
        </ion-row>
      <ion-row>
        <ion-label class="labelclsgrn" class="labelclsorg">
          Pause
        </ion-label>

      </ion-row>
    </ion-grid>
  </ion-button>
  <ion-button class="bigbtn" (click)="resumeRecording()" *ngIf="isPaused">
    <ion-grid>
      <ion-row>
        <ion-icon name="mic-outline" class="btniconclsorange"></ion-icon>
        </ion-row>
      <ion-row>
        <ion-label class="labelclsgrn" class="labelclsorg">
          Record
        </ion-label>

      </ion-row>
    </ion-grid>
  </ion-button>
  <ion-button class="bigbtn" (click)="saveRecording()">
    <ion-grid>
      <ion-row>
        <ion-icon name="checkmark-outline" class="btniconclsgreen"></ion-icon>
      </ion-row>
      <ion-row>
        <ion-label class="labelclsgrn">
          Save
        </ion-label>

      </ion-row>
    </ion-grid>
  </ion-button>

</div>

</ion-footer>


<!-- <ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <button ion-button primary (click)="stopRecord()" *ngIf="recording"><ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record</button>
        <button ion-button primary (click)="startRecord()" *ngIf="!recording"><ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record</button>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let audio of audioList; index as i;">
      <p>{{audio.filename}}</p>
      <button ion-button clear item-end large (click)="playAudio(audio.filename, i)"><ion-icon name="play"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content> --><ion-header >
