.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #f1f5f5;
}

.card-fixed {
    display: flex;
    height: calc(45vh - 56px);
    overflow: auto;
    align-items: center;
    border-radius: 14px;
    box-shadow: 1px 3px 10px 2px #babdbd;
    margin: 15px 15px 5px 15px;
}

.failure-button {
    text-align: center;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-color: #d7d7d7;
    border-style: solid;
    padding: 0;
    width: 100%;
    position: absolute;
    height: 85px;
}

.titleCls {
    font-size: 2.2rem;
    font-weight: bold;
    color: #058988;
}

.titleCls1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #058988;
}

ion-card {
    border-radius: 8px;
}

.footer ion-card {
    margin: 0 0 30px;
}

.footer ion-col ion-card {
    box-shadow: 1px 3px 10px 2px #babdbd;
    margin: 2px 6px;
}

.button-solid {
    --box-shadow: none !important;
}

.footer {
    height: 55vh;
    .waves {
        height: 18vh;
        margin-top: 6vh;
        width: 100%;
        object-fit: cover;
        object-position: center;
        @media(max-width: 330px) {
            height: 22vh;
        }
    }
}

.button-round {
    --border-radius: 14px !important;
    height: 5em;
    display: grid;
}

.button-round ion-icon.text-red {
    font-size: 60px;
    font-weight: bold;
    --ionicon-stroke-width: 62px;
    color: #9d1414;
}

.button-round ion-icon.text-yellow {
    font-size: 60px;
    font-weight: bold;
    --ionicon-stroke-width: 62px;
    color: #ff9000;
}

.button-round ion-icon.text-green {
    font-size: 60px;
    font-weight: bold;
    --ionicon-stroke-width: 62px;
    color: #267905;
}

.button-round ion-label.text-red {
    font-weight: bold;
    color: #9d1414;
    text-transform: none;
    font-size: 30px;
}

.btn-red {
    color: #9d1414;
}

.btn-yellow {
    color: #ff9000;
}

.btn-green {
    color: #267905;
}

.button-round ion-label.text-yellow {
    font-weight: bold;
    color: #ff9000;
    text-transform: none;
    font-size: 30px;
}

.button-round ion-label.text-green {
    font-weight: bold;
    color: #267905;
    text-transform: none;
    font-size: 30px;
}

.custom-card {
    margin: 2px 6px;
}

// Modal Start
.custom-modal {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-modal ion-card-header {
    text-align: center;
}

.modal-btn {
    height: 2em !important;
    font-size: 2rem;
    --padding-start: 26px;
}

.custom-modal ion-card-title {
    font-size: 2rem;
    font-weight: bold;
    color: #058988;
}

.custom-modal ion-card {
    box-shadow: 0px 1px 6px 4px #ececec;
}

// Modal End

/**Popup Cancel**/

.cardclscancel {
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: none;
    background: #fff;
    margin: 0;
}

.cancel-popup {
    box-shadow: 1px 2px 6px 1px #babdbd;
    margin: 0 15px;
    height: 34%;
    background: #fff;
    border-radius: 14px;
    width: 95%;
}

.titleclscancel {
    font-size: 2rem;
    font-weight: bold;
    color: #058988;
    text-align: center;
}

.cardclscancel icon-col {
    margin: 0;
}

.cardclscancel ion-card-content {
    padding-left: 42px;
}

.borderclsgrn {
    text-align: center;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-color: #d7d7d7;
    border-style: solid;
    padding: 0;
    width: 100%;
    position: absolute;
    height: 85px;
}

.labelclsgrncancel {
    text-align: center;
    color: #267905;
    background: #fff;
    font-size: 3rem;
    width: 162%;
    font-weight: 700;
    line-height: 100px;
    height: 95px;
    position: absolute;
}

.borderclsred {
    text-align: center;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-color: #d7d7d7;
    border-style: solid;
    padding: 0;
    width: 100%;
    position: absolute;
    height: 85px;
}

.labelclsredcancel {
    text-align: center;
    color: #981616;
    background: #fff;
    font-size: 3rem;
    width: 162%;
    font-weight: 700;
    line-height: 100px;
    height: 95px;
    position: absolute;
}


/**Popup Cancel End**/

.text-primary h1 {
    color: #06BDBB;
    font-size: 10rem;
    font-weight: bold;
    line-height: .8;
    @media(min-width: 400px) {
        line-height: 12rem;
    }
    @media(max-width:320px) {
        font-size: 8rem;
        margin-bottom: 0;
    }
}

.text-primary h2 {
    color: #06BDBB;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 60px;
}

.button-solid .common-icon-list {
    width: 70%;
    margin: 0 0 20px 0;
}

.button-solid .pause-icon.common-icon-list {
    width: 80%;
}

.button-solid .correct-icon.common-icon-list {
    width: 98%;
}

.toggle-icon {
    width: 19px;
}

.head-icon {
    width: 30px;
}

ion-header ion-title {
    padding: 0;
    font-size: 24px;
}

// For Landscape
@media (orientation: landscape) {
    .button-round {
        --border-radius: 10px !important;
        height: 7em !important;
        display: grid;
    }
    .main {
        display: inherit;
        flex-direction: inherit;
        height: inherit;
    }
    .footer {
        flex: inherit;
        position: inherit;
        bottom: inherit;
        width: auto;
    }
    .modal-btn {
        height: 2em !important;
        font-size: 2rem;
    }
}


/* Smartphones One Plus 6 ----------- */

@media only screen and (min-device-width: 410px) and (max-height: 872px) {
    .titleCls {
        font-size: 2.5rem;
    }
    .titleCls1 {
        font-size: 2rem;
    }
    .button-round ion-icon.text-red,
    .button-round ion-icon.text-yellow,
    .button-round ion-icon.text-green {
        font-size: 6rem;
    }
    .button-round ion-label.text-red,
    .button-round ion-label.text-yellow,
    .button-round ion-label.text-green {
        font-size: 1.8rem;
        letter-spacing: 0;
    }
    .button-round {
        height: 7em;
    }
}

.footer-btn {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    @media(max-width: 575px) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 16px;
    }
    button {
        background: #fff;
        box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 30%);
        flex: 0 0 32%;
        text-align: center;
        font-size: 23px;
        font-weight: 900;
        border-radius: 8px;
        padding: 26px 10px;
        img {
            height: 50px;
            margin-bottom: 10px;
        }
    }
}

ion-alert {
    --background: red !important;
}