/*.ion-color-primary {
    --ion-color-shade: #fff !important;
    font-weight: bold;
    font-size: 1.1rem;
}

.list-md {
    padding-top: 0px;
    padding-bottom: 0px;
}

.ion-color .item-inner {
    border-color: none;
}

.ion-color-primary {
    --ion-color-shade: #06bdbb !important;
}

ion-icon {
    margin-inline-end: 20px;
    font-size: 2rem;
}
.ion-color-primary{
    font-size: 1.8rem;
}
.inbox-list{
    height: 100%;
    align-items: center;
    display: flex;
}
*/

.inbox-list {
    background-color: #33cccc;
    color:white !important;
}

.contentClass {
    background-color: #33cccc !important;
    color: #33cccc;
}

.inbox-list{
    height: 100%;
    align-items: center;
    display: flex;
}
.title {
    text-align: center;
    color: #fff;
  }
  .recordingiconcls{ 
    
    --ionicon-stroke-width: 30px;
    color: #fff;
  }
  ion-menu-button{ 
    color: #fff;
  }
  .inbox-list ion-label { 
    font-size:2rem;
  }
  .inbox-list ion-row { 
    margin:0 0 10px;
  }

  .appName {
      background-color: white;
      color: #33cccc;
  }









