.inbox-list {
    background-color: #33cccc;
    color:white !important;
}

.contentClass {
    background-color: #33cccc !important;
    color: #33cccc;
}

.inbox-list{
    height: 100%;
    // align-items: center;
    display: flex;
}

.app-name {
  background: #fff;
  padding: 1rem;
  color: #33cccc;
  margin-top: 2rem;
  border-radius: 0.25rem;
}

.app-name ion-label {
  display: flex !important;
}

.app-name ion-label img {
  margin-right: 1rem;
}

hr {
  border: 1px solid #fff;
  height: 0px;
}

.title {
    text-align: center;
    color: #fff;
  }
  .recordingiconcls{

    --ionicon-stroke-width: 30px;
    color: #fff;
  }
  ion-menu-button{
    color: #fff;
  }
  .inbox-list ion-label {
    font-size:180%;
  }
  .inbox-list ion-row {
    margin:0 0 10px;
  }




