

<ion-app>
    <ion-split-pane contentId="main-content" class="contentClass">
      <ion-menu contentId="main-content" type="overlay">
        <ion-content >
          <div class="inbox-list">
            <ion-grid id="main-grid">
              <ion-menu-toggle auto-hide="false" id="m-toggle">
            
            <ion-row>
              <ion-col>
                
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><ion-icon name="close"></ion-icon>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="voice-row">
            <ion-col class="appName label-voice">
              <ion-label><img alt="Logo" height="14" src="assets/images/icon.png" style="padding-right: 0.6rem;">
                Voices
              </ion-label>
            </ion-col>
          </ion-row>
              
            <ion-row>
              <ion-col>
                <ion-label> 
                </ion-label>
              </ion-col>
            </ion-row>
         
            <ion-row>
              <ion-col>
                <ion-label>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row (click)="goToThisPage('home')" class="btm-menu">
              <ion-col>
                <ion-label><img class="menu-icons" src="assets/images/home.png"> Home 
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row (click)="goToThisPage('recordings')" class="btm-menu">
              <ion-col>
                <ion-label><img class="menu-icons" src="assets/images/headphone-symbol (1).png"> My Recordings
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="btm-menu">
              <ion-col>
                <ion-label><img class="menu-icons" src="assets/images/family-silhouette.png"> My Family
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="btm-menu">
              <ion-col>
                <ion-label><img class="menu-icons" src="assets/images/settings.png"> My Account
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row class="btm-menu">
              <ion-col>
                <ion-label><img class="menu-icons" src="assets/images/menuplay.png"> <span>Tutorial</span>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-menu-toggle>
    
            </ion-grid>
          </div>
            
        </ion-content>
       
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ion-app>
  <!-- <ion-router-outlet></ion-router-outlet>
  </ion-app> -->