<ion-app>
    <ion-split-pane contentId="main">
        <ion-menu menuId="first" contentId="main" type="overlay">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>Voices</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-menu-toggle auto-hide="false" id="m-toggle">
                    <ion-list>
                        <ion-item (click)="goToThisPage('home')">Home</ion-item>
                        <ion-item (click)="goToThisPage('recordings')">My Recordings</ion-item>
                    </ion-list>
                </ion-menu-toggle>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
