<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-menu-button color="light" slot="start" autoHide="true" (click)="hamburger()">
            <img class="toggle-icon" src='assets/images/togglemenu.png'>
        </ion-menu-button>
        <ion-title>Questions</ion-title>
        <ion-buttons collapse="true" slot="end">
            <ion-button (click)="goToRecordingsList()">
                <img class="head-icon" src="assets/images/headphone-symbol (1).png">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" color="light">
    <div class="main">
        <!-- Content Start -->
        <ion-card class="card-one card-fixed">
            <ion-card-header>
                <ion-card-title [ngClass]="questionRange ? 'titleCls1' : 'titleCls'" color="tertiary">
                    {{questionsArray[0].question}}
                </ion-card-title>
            </ion-card-header>

            <ion-card class="subcard-fixed">
                <ion-item lines="none">
                    <ion-avatar slot="start">
                        <img class="voices-icon" src="assets/images/LogoVoices.png">
                    </ion-avatar>
                    <ion-label>
                        <h1 class="headingcls">Asked by Voices</h1>
                    </ion-label>
                </ion-item>
            </ion-card>
        </ion-card>

        <!-- Footer Start -->
        <div [ngClass]="allQuetionsFinished ? 'footer-btn1' : 'footer-btn'">
            <button expand="full" class="btn-red" (click)="skipCurrentQuestion()">
                <img class="close-icon common-icon-list" src="assets/images/new/close1.png"><br>
                Skip
            </button>
            <button expand="full" class="btn-green" (click)="goToAnswerScreen()">
                <img class="correct-icon common-icon-list" src="assets/images/new/check2.png"><br>
                Answer
            </button>
        </div>

    </div>
</ion-content>

<!-- <ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="full" size="large" color="danger" (click)="skipCurrentQuestion()">
                    <div>
                        <ion-icon name="close"></ion-icon><br>
                        Skip
                    </div>
                </ion-button>
            </ion-col>

            <ion-col>
                <ion-button expand="full" size="large" color="success" (click)="goToAnswerScreen()">
                    <div>
                        <ion-icon name="checkmark"></ion-icon><br>
                        Answer
                    </div>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer> -->