<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-menu-button color="light" slot="start" autoHide="true" (click)="hamburger()">
            <img class="toggle-icon" src='assets/images/togglemenu.png'>
        </ion-menu-button>
        <ion-title>Questions</ion-title>
        <ion-buttons collapse="true" slot="end">
            <ion-button (click)="goToRecordingsList()">
                <img class="head-icon" src="assets/images/headphone-symbol (1).png">
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
    <div class="main">
        <!-- Content Start -->
        <ion-card class="card-fixed">
            <ion-card-header>
                <ion-card-title [ngClass]="questionRange ? 'titleCls1' : 'titleCls'" color="primary">
                    {{question.question}}
                </ion-card-title>
            </ion-card-header>

            <ion-card class="subcard-fixed">
                <ion-item lines="none">
                    <ion-avatar slot="start">
                        <img class="voices-icon" src="assets/images/icon.png">
                    </ion-avatar>
                    <ion-label>
                        <h1>Asked by Voices</h1>
                    </ion-label>
                </ion-item>
            </ion-card>
        </ion-card>

        <!-- Footer Start -->
        <div class="footer">
            <ion-grid class="ion-no-padding">
                <ion-row>
                    <ion-col class="ion-no-padding">
                        <ion-card>
                            <ion-button expand="full" size="large" color="light" (click)="skipCurrentQuestion()">
                                <div>
                                    <img class="close-icon common-icon-list" src="assets/images/close.png"><br>
                                    <ion-label class="text-red">Skip</ion-label>
                                </div>
                            </ion-button>
                        </ion-card>
                    </ion-col>

                    <ion-col class="ion-no-padding">
                        <ion-card>
                            <ion-button expand="full" size="large" color="light" (click)="goToAnswerScreen()">
                                <div>
                                    <img class="correct-icon common-icon-list" src="assets/images/check.png"><br>
                                    <ion-label class="text-green">Answer</ion-label>
                                </div>
                            </ion-button>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
