.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.test {
  background-color: red!important;
  color: red!important;
}


.contentcls {
  background-color: #f2f2f2;
}

ion-button {
  --background: #white;
  }


.recordingiconcls {
  margin-right: 5%;
  font-size: 150%;
}

.ppcls {
  // margin-bottom: 60%;
  font-size: 300%;
}
.new-background-color{
  --background: #33cccc;
}

.labelClass {
margin-left: 5%;
}

.labelClass1 {
  margin-left: 5%;
  margin-top: 5%;
}

.textBoxClass {
  border: solid 1px black;
  margin-top: 2%;
 // border-top-left-radius: 5px;
  border-radius: 15px;
  width: 90%;
  margin-left: 5%;
  
}

.buttonClass {
  border: solid 1px blue !important;
  background-color: blue !important;
  border-radius: 3px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.gridClass {
  align-items: center !important;
  text-align: center !important;
}

.title {
  text-align: center;
  color: #fff;
}
.recordingiconcls{ 
  
  --ionicon-stroke-width: 30px;
  color: #fff;
}
ion-menu-button{ 
  color: #fff;
}
.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
 

.titlecls{
  
  color: #048988;
  margin-top:0px !important;
  margin-bottom:0;
  font-weight: bold;
}

/**.innercrd{
	
  background: #f8fafa;
  box-shadow: 5px 10px 5px #babdbd inset;
}

.item-native{
	
	background: #f8fafa;
}**/

.labelclsred {
  text-align: center;
  color: #9d1414;
  font-weight: bold !important;
}

.labelclsgrn {
  text-align: center;
  color: #267905;
  font-weight: bold !important;
}
ion-icon{ 
  
  --ionicon-stroke-width: 100px;
}

.btniconclsred {
  color: #9d1414;
  text-align: center !important;
  font-weight: bold !important;
  margin-left: 0;
  margin-bottom:10px;
  width: 100%;
      
}

.btniconclsgreen {
  color: #267905;
  text-align: center !important;
  font-weight: bold !important;
  width: 100%;
  margin-left: 0;
  margin-bottom:10px;
  
}

.bigbtn {
  box-shadow: 2px 3px 7px 2px #babdbd;
  border-radius: 10px;
  height: auto;
  text-align: center;

}

.cardcls {
  box-shadow: 1px 2px 5px 2px #dbdddd;
  border-radius: 10px;
  margin: 10px;
}

.labelclsred{
  margin: -10% 0 0 0;
  width: 100%;
}

.labelclsgrn{
  margin: -10% 0 0 0;
  width: 100%;
}

.ion-menu-button .button-native{
  color: #fff;
}
.footer-md:before{
  background:none;
}

// START MEDIA QUERY //
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-height: 568px){
  .img1 {
    width:320px;
    height:568px;
  }
  .cardcls{
    position: fixed;
    height: 59%;
    width: 95%;
    }
  .titlecls{
    font-size: 32px !important;
    margin-top: 12% !important;
  }
  .innercrd {
    height: 18%;
    margin-top: 74%;
  }
  .item-native{
   background: #f8fafa;
   box-shadow:inset 0px 0px 4px 2px;
   padding:15px 0;
   border-radius:20px;
     
  }
  
  .innercrd2{
    margin-top:12px !important;
    margin: 0 10px 0 20px;
  }
  .title-div{
    position: fixed !important;
    
  }
  .book-icon{
    font-size:18px;
  }
  .icon-text{
    font-size:11px;
    margin-bottom: 0px;
    margin-top:2px;
  }

  .footercls {
    height: 30% !important;
    // background-color: greenyellow;
  }
  .cardcls{
    position: fixed;
    height: 60%;
    width: 95%;
    
    }
  .bigbtn{

    // margin-left: 3%;
    //   // margin-bottom: 2%;
    //   height: 25%;
    //   width: 29%;
    //   background-color: white !important;
    //   border-radius: 10%;
    //   color: white !important;
    //   border-style: solid 1px;
  
  
    margin-left: 3%;
    // margin-top: -2%;
    height: 20%;
    width: 45%;
    background-color: white !important;
    
    color: white !important;
    border-style: solid 1px;
  }
  .labelclsred {
    font-size: 200%;
  }
  
  .labelclsgrn {
   font-size: 200%;
  }
  
  .btniconclsred {
    font-size: 800%;
    margin-bottom:0;
  }
  
  .btniconclsgreen {
    font-size: 800%;
    margin-bottom:0;
  }
}
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 360px) and (max-height: 640px) {
    .img1 {
      width:360;
      height:640px;
    }
    
    .titlecls{
      font-size: 40px !important;
      margin-top: 12% !important;
    }
    .innercrd {
      height: 18%;
      margin-top: 78% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:15px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 60%;
      width: 95%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 185px;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      font-size: 200%;
      
      
    }
    
    .labelclsgrn {
      
      font-size: 200%;
      
      
    }
    .btniconclsred {
      font-size: 800%;
      margin-bottom:0;
      
    }
    
    .btniconclsgreen {
      font-size: 800%;
      margin-bottom:0;
    }
    
  /* Styles */
  }
  
 
  @media only screen and (min-device-width: 355px) and (max-height: 710px){

    .titlecls{
     font-size: 32px !important;
     margin-top: 20% !important;
     font-weight: bold;
    }
    .innercrd {
     height: 18%;
     margin-top: 20% ;
 }
 .bigbtn {
   margin-left: 3%;
   height: 230px;
   width: 45%;
   background-color: white !important;
   color: white !important;
 }
 .btniconclsred, .btniconclsgreen {
   font-size: 900%;
 }
 .labelclsred, .labelclsgrn {
   font-size: 200%;
   margin: 0;
   
 }
 
   }
  
   @media only screen and (min-device-width: 360px) and (max-height: 668px) {
    .img1 {
      width:360;
      height:668px;
    }
    
    .titlecls{
      font-size: 40px !important;
      margin-top: 12% !important;
    }
    .innercrd {
      height: 18%;
      margin-top: 82%;
    }
    .innercrd2{
      margin-top:15px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
    }
    .cardcls{
      position: fixed;
      height: 59%;
      width: 95%;
      
      }
    .bigbtn{
      margin-left: 3%;
      height: 185px;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      font-size: 200%;
      
    }
    .labelclsgrn {
       font-size: 200%;
    }
    .btniconclsred {
      font-size: 800%;
      margin-bottom:0;
    }
    
    .btniconclsgreen {
      font-size: 800%;
      margin-bottom:0;     
    }
    
  /* Styles */
  }
 
  @media only screen and (min-device-width: 375px) and (max-height: 812px) {
    .img1 {
      width:375px;
      height:812px;
    }
    .titlecls{
      font-size: 44px !important;
      margin-top: 15% !important;
      padding: 0 40px 0 0;
    }
    .innercrd {
      height: 18%;
      margin-top:102% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:34px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 62%;
      width: 95%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 230px;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
     
      font-size: 200%;
     
      font-weight: bold !important;
    }
    
    .labelclsgrn {
     
      font-size: 200%;
      
      font-weight: bold !important;
    }
    .btniconclsred {
      font-size: 800%;
     
    }
    
    .btniconclsgreen {
      font-size: 800%;
      
      
    }
  /* Styles */
  }

  @media only screen and (min-device-width: 375px)  and (max-height: 690px){
     
    .cardcls {
      height: 60%;
    }
    .titlecls{
      font-size: 36px !important;
      margin-top: 17% !important;
      
    }
    .bigbtn{
      
      height: 182px;
    }
    .innercrd{
      
      margin-top: 78% !important;
    }

  }
  
  /* iPhone SE & iPhone 8----------- */
  @media only screen and (min-device-width: 375px) and (max-height: 668px) {

    .titlecls {
      font-size: 38px !important;
      margin-top: 15% !important;
     }
     .innercrd2{
      margin-top: 16px !important;
    }
    .cardcls{
      height: 58%;
      margin: 10px 10px;
    }
    
 
 }

  @media only screen and (min-device-width: 390px) and (max-height: 844px){
    .img1 {
      width:390px;
      height:844px;
    }
    .titlecls{
      font-size: 48px !important;
      margin-top: 11% !important;
      padding: 0 40px 0 0;
    }
    .innercrd {
      height: 20%;
      margin-top:98% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:23px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 60%;
      width: 95%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 240px;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
     
      font-size: 200%;
      
      
    }
    
    .labelclsgrn {
      
      font-size: 200%;
      
      
      font-weight: bold !important;
    }
    .btniconclsred {
      font-size: 800%;
    
    }
    
    .btniconclsgreen {
      font-size: 800%;
      
      
    }
  }
  
  @media only screen and (min-device-width: 393px) and (max-height: 715px){
    .img1 {
      width:393px;
      height:715px;
    }
    .titlecls{
      font-size: 44px !important;
      margin-top: 20% !important;
    
    }
    .innercrd {
      height: 20%;
      margin-top:81% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:23px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 60%;
      width: 95%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 200px;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      font-size: 200%;
      
      font-weight: bold !important;
    }
    
    .labelclsgrn {
      
      font-size: 200%;
      
      font-weight: bold !important;
    }
    .btniconclsred {
      font-size: 800%;
     
    }
    
    .btniconclsgreen {
      font-size: 800%;
    }
  }
  
  
  @media only screen and (min-width: 411px) and (max-height: 731px){ 
    
    .img1 {
      width:411px;
      height:731px;
    }  
    .titlecls{
      font-size: 47px !important;
      margin-top: 24% !important;
     
    }
    .innercrd {
      height: 18%;
      margin-top:82% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:23px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 60%;
      width: 95%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 205px;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      font-size: 200%;
      
      font-weight: bold !important;
    }
    
    .labelclsgrn {
      
      font-size: 200%;
      
      font-weight: bold !important;
    }
    .btniconclsred {
      font-size: 800%;
    }
    
    .btniconclsgreen {
      font-size: 800%;
     
      
    }
  }
  @media only screen and (min-width: 412px) and (max-height: 787px){
    .img1 {
      width:412px;
      height:812px;
    }  
    .titlecls{
      font-size: 50px;
      margin-top: 24% !important;
     
    }
    .innercrd {
      height: 18%;
      margin-top: 88% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:23px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 60%;
      width: 95%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 229px;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
     
      font-size: 200%;
      
      font-weight: bold !important;
    }
    
    .labelclsgrn {
     
      font-size: 200%;
      
      font-weight: bold !important;
    }
    .btniconclsred {
      font-size: 800%;
    }
    
    .btniconclsgreen {
      font-size: 800%;
     
      
    }
   }
 
   @media only screen and (min-width: 412px) and (max-height: 812px){
    .img1 {
      width:412px;
      height:812px;
    }  
    .titlecls{
      font-size: 50px;
      margin-top: 24% !important;
      
    }
    .innercrd {
      height: 18%;
      margin-top: 88% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:23px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 60%;
      width: 95%;
     
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 229px;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      font-size: 200%;
      
      font-weight: bold !important;
    }
    
    .labelclsgrn {
      
      font-size: 200%;
      
      font-weight: bold !important;
    }
    .btniconclsred {
      font-size: 800%;
    }
    
    .btniconclsgreen {
      font-size: 800%;
      
      
    }
   }
  
  @media only screen and (min-device-width: 414px) and (max-height: 896px){
    .img1 {
      width:414px;
      height:896px;
    }
    .titlecls{
      font-size: 52px !important;
      margin-top: 14% !important;
      padding: 0 40px 0 0;
      
    }
    .innercrd {
      height: 18%;
      margin-top:105%;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:23px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 62%;
      width: 95%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 251px;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      font-size: 200%;
     
      font-weight: bold !important;
    }
    
    .labelclsgrn {
     
      font-size: 200%;
      
      font-weight: bold !important;
    }
    .btniconclsred {
      font-size: 800%;
    }
    
    .btniconclsgreen {
      font-size: 800%;
      
      
    }
  /* Styles */
  }

  @media only screen and (min-device-width: 408px) and (max-height: 830px){

    .titlecls{
     font-size: 48px !important;
     margin-top: 10% !important;
     
    }
    .innercrd {
     height: 18%;
     margin-top: 91% !important;
 }
 .bigbtn {
   margin-left: 3%;
   height: 230px;
   width: 45%;
   background-color: white !important;
   color: white !important;
 }
 .btniconclsred, .btniconclsgreen {
   font-size: 900%;
 }
 .labelclsred, .labelclsgrn {
   font-size: 200%;
   margin: 0;
   
 }
 
 
   }

   /* iPhone 6+, 7+, 8+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-height: 736px){
    .img1 {
      width:414px;
      height:736px;
    }
    .titlecls{
      font-size: 45px !important;
      margin-top: 7% !important;
      
    }
    .innercrd {
      height: 18%;
      margin-top:83% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:23px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 62%;
      width: 95%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 205px !important;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      font-size: 200%;
      
      font-weight: bold !important;
    }
    
    .labelclsgrn {
      
      font-size: 200%;
      
      font-weight: bold !important;
    }
    .btniconclsred {
      font-size: 800%;
    }
    
    .btniconclsgreen {
      font-size: 800%;
      
      
    }
  /* Styles */
  }

  /* iPhone12 Pro Max */
  @media only screen and (min-device-width: 426px) and (max-height: 928px){

    .titlecls{
     font-size: 52px !important;
     margin-top: 22% !important;
     font-weight: bold;
    }
    .innercrd {
     height: 15%;
     margin-top: 17% !important;
 }
 .innercrd ion-item{
     padding:15px 0 0 0;
 }
 .bigbtn {
   margin-left: 3%;
   height: 230px;
   width: 45%;
   background-color: white !important;
   color: white !important;
 }
 .btniconclsred, .btniconclsgreen {
   font-size: 900%;
 }
 .labelclsred, .labelclsgrn {
   font-size: 200%;
   margin: 0;
   
 }
 .cardcls{
   height:96%;
 }
 ion-footer{
  height: 27%;
 }
 
 
   }

  @media only screen and (min-device-width: 460px) and (max-height: 995px){

   .titlecls{
    font-size: 42px !important;
    margin-top: 35% !important;
    font-weight: bold;
   }
   .innercrd {
    height: 18%;
    margin-top: 47% !important;
}
.bigbtn {
  margin-left: 3%;
  height: 230px;
  width: 45%;
  background-color: white !important;
  color: white !important;
}
.btniconclsred, .btniconclsgreen {
  font-size: 900%;
}
.labelclsred, .labelclsgrn {
  font-size: 200%;
  margin: 0;
  
}


  }

  @media only screen and (min-device-width: 471px) and (max-height: 983px){
    .img1 {
      width:471px;
      height:983px;
    }
    .titlecls{
      font-size: 58px !important;
      margin-top: 28% !important;
     
    }
    .innercrd {
      height: 18%;
      margin-top:102% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:35px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 62%;
      width: 95%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 280px;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      font-size: 200%;
     
      font-weight: bold !important;
    }
    
    .labelclsgrn {
      
      font-size: 200%;
      
      font-weight: bold !important;
    }
    .btniconclsred {
      font-size: 800%;
      
     
    }
    
    .btniconclsgreen {
      font-size: 800%;
      
    }
  }
  
 
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px)  and (max-height: 1024px){
    .img1 {
      width:768px;
      height:1024px;
    }
    .titlecls{
      font-size: 68px !important;
      margin-top: 8% !important;
      padding: 0 52px 0 0px;
      
    }
    .innercrd {
      height: 18%;
      margin-top:65% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:45px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .voice-text{
      font-size: 30px !important;
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 63%;
      width: 95%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 297px;
      width: 45%;
      background-color: white !important;
     
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      
      font-size: 220%;
    
      font-weight: bold !important;
      margin:0;
    }
    
    .labelclsgrn {
      
      font-size: 220%;
      
      font-weight: bold !important;
      margin:0;
    }
    .btniconclsred {
      font-size: 820%;
    }
    
    .btniconclsgreen {
      font-size: 820%;
      
    }

  /* Styles */
  }

  /* iPads 8th Gen (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 808px)  and (max-height: 1082px){
    .img1 {
      width:768px;
      height:1024px;
    }
    .titlecls{
      font-size: 82px !important;
      margin-top: 7% !important;
      
    }
    .innercrd {
      height: 18%;
      margin-top:65% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:45px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .voice-text{
      font-size: 30px !important;
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 63%;
      width: 97%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 297px;
      width: 45%;
      background-color: white !important;
     
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      
      font-size: 220%;
    
      font-weight: bold !important;
      margin:0;
    }
    
    .labelclsgrn {
      
      font-size: 220%;
      
      font-weight: bold !important;
      margin:0;
    }
    .btniconclsred {
      font-size: 820%;
    }
    
    .btniconclsgreen {
      font-size: 820%;
      
    }

  /* Styles */
  }

  /* iPads Air 4th Gen (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 818px)  and (max-height: 1182px){
    .img1 {
      width:768px;
      height:1024px;
    }
    .titlecls{
      font-size: 84px !important;
      margin-top: 11% !important;
      
    }
    .innercrd {
      height: 18%;
      margin-top:72% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:45px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .voice-text{
      font-size: 30px !important;
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 63%;
      width: 98%;
      padding: 0px 10px;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 297px;
      width: 45%;
      background-color: white !important;
     
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      
      font-size: 220%;
    
      font-weight: bold !important;
      margin:0;
    }
    
    .labelclsgrn {
      
      font-size: 220%;
      
      font-weight: bold !important;
      margin:0;
    }
    .btniconclsred {
      font-size: 820%;
    }
    
    .btniconclsgreen {
      font-size: 820%;
      
    }

  /* Styles */
  }

  /* iPads Pro 2th Gen (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 832px)  and (max-height: 1196px){
    .img1 {
      width:768px;
      height:1024px;
    }
    .titlecls{
      font-size: 84px !important;
      margin-top: 11% !important;
      
    }
    .innercrd {
      height: 18%;
      margin-top:74% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:45px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .voice-text{
      font-size: 30px !important;
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 27% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 65%;
      width: 98%;
      padding: 0px 10px;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 297px;
      width: 45%;
      background-color: white !important;
     
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      
      font-size: 220%;
    
      font-weight: bold !important;
      margin:0;
    }
    
    .labelclsgrn {
      
      font-size: 220%;
      
      font-weight: bold !important;
      margin:0;
    }
    .btniconclsred {
      font-size: 820%;
    }
    
    .btniconclsgreen {
      font-size: 820%;
      
    }

  /* Styles */
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 1022px)  and (max-height: 1368px){
    .img1 {
      width:1024px;
      height:1366px;
    }
    .titlecls{
      font-size: 88px !important;
      margin-top: 8% !important;
      padding: 0 52px 0 0px;
      
    }
    .innercrd {
      height: 18%;
      margin-top:95% !important;
      // margin-top: 10px!important;
  
      // background-color: #f2f2f2;
    }
    .innercrd2{
      margin-top:45px !important;
    }
    .title-div{
      position: fixed !important;
      
    }
    .voice-text{
      font-size: 30px !important;
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
  
    .footercls {
      height: 30% !important;
      margin-top:10% !important;
      // background-color: greenyellow;
    }
    .cardcls{
      position: fixed;
      height: 64%;
      width: 96%;
      
      }
    .bigbtn{

      // margin-left: 3%;
      //   // margin-bottom: 2%;
      //   height: 25%;
      //   width: 29%;
      //   background-color: white !important;
      //   border-radius: 10%;
      //   color: white !important;
      //   border-style: solid 1px;
    
    
      margin-left: 3%;
      // margin-top: -2%;
      height: 397px;
      width: 45%;
      background-color: white !important;
      
      color: white !important;
      border-style: solid 1px;
    }
    .labelclsred {
      
      font-size: 220%;
      
      font-weight: bold !important;
      margin: 0;
    }
    
    .labelclsgrn {
      
      font-size: 220%;
     
      font-weight: bold !important;
      margin: 0;
    }
    .btniconclsred {
  font-size: 820%;
  
}

.btniconclsgreen {
  font-size: 820%;
  
  
}
  /* Styles */
  }