.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main ion-card-title {
    font-size: 2rem;
}

.footer {
    flex: 1;
    position: absolute;
    bottom: 0;
    width: 100%
}

.button-round {
    --border-radius: 14px !important;
    height: 8em !important;
    display: grid;
}

.button-round ion-icon.text-red {
    font-size: 100px !important;
    font-weight: bold;
    --ionicon-stroke-width: 62px;
    color: #EB445A !important;
}

.button-round ion-icon.text-green {
    font-size: 100px !important;
    font-weight: bold;
    --ionicon-stroke-width: 62px;
    color: #2FD370 !important;
}

.button-round ion-label.text-red {
    font-size: 34px !important;
    font-weight: bold;
    color: #EB445A !important;
}

.button-round ion-label.text-green {
    font-size: 34px !important;
    font-weight: bold;
    color: #2FD370 !important;
}

// Fixed Card
.card-fixed {
    display: block;
    height: 58vh;
}

.subcard-fixed {
    position: absolute;
    bottom: 0;
    width: 90%;
}

// For Landscape
@media (orientation: landscape) {
    .button-round {
        --border-radius: 10px !important;
        height: 7em !important;
        display: grid;
    }

    .card-fixed {
        display: block;
        height: auto;
    }

    .subcard-fixed {
        position: inherit;
        bottom: inherit;
        width: auto;
    }

    .button-round ion-icon.text-red {
        font-size: 80px !important;
    }

    .button-round ion-icon.text-green {
        font-size: 80px !important;
    }

    .button-round ion-label.text-red {
        font-size: 34px !important;
    }

    .button-round ion-label.text-green {
        font-size: 34px !important;
    }

    .main {
        display: inherit;
        flex-direction: inherit;
        height: inherit;
    }

    .footer {
        flex: inherit;
        position: inherit;
        bottom: inherit;
        width: auto;
    }
}
