.footercls {
    height: 20%;
    // background-color: greenyellow;
  }
  
  .gridcls {
      margin-top: 10%;
  }
 
  .borderclsgrn {
    text-align: center;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-color: #f0f0f5;
    border-style: solid;
    width: 125%;
    height: 150%;
  }  

  .borderclsred{
    border-top-right-radius: 10%;
    text-align: center;
    border-bottom-right-radius: 10%;
    border-color: #f0f0f5;
    border-style: solid;
    width: 125%;
    height: 150%;
    margin-left: 15%;
  }  

  .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .contentcls {
    background-color: #f2f2f2;
  }
  
  ion-button {
    --background: #white;
    }
  .cardclscancel{
  position: fixed;
  height: 40%;
  width: 95%;
  margin-left: 2%;
  margin-top: 50%;
  }
  
  .recordingiconcls {
    margin-right: 5%;
    font-size: 150%;
  }
  
  .ppcls {
    // margin-bottom: 60%;
    font-size: 200%;
  }
  
  .btniconclsred {
    font-size: 800%;
    color: red;
  }
  
  .btniconclsgreen {
    font-size: 800%;
    color: green;
    
  }
  
  .labelclsredcancel {
    text-align: center;
    color: red;
    font-size: 300%;
    margin-left: 10%;
    // margin-top: -10%;
    font-weight: 700;

  }
  
  .labelclsgrncancel {
    text-align: center;
    color: green;
    font-size: 300%;
    font-weight: 700;
    // margin-left: 10%;
    // margin-top: 10%;
  }
  
  .innercrd {
    height: 20%;
    // background-color: #f2f2f2;
    margin-top: 30%;
  }
  
  .titleclscancel{
    font-size: 250%;
    color: #33cccc;
    text-align: center;
  }
  
  .bigbtn{
  
    margin-left: 3%;
    // margin-top: -2%;
    height: 20%;
    width: 45%;
    background-color: white !important;
    border-radius: 1%;
    border-color: black;
    border-style: solid 1px;
  }
  
  .new-background-color{
    --background: #33cccc;
  }
  
  .labelClass {
  margin-left: 5%;
  }
  
  .labelClass1 {
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .textBoxClass {
    border: solid 1px black;
    margin-top: 2%;
   // border-top-left-radius: 5px;
    border-radius: 15px;
    width: 90%;
    margin-left: 5%;
    
  }
  
  .buttonClass {
    border: solid 1px blue !important;
    background-color: blue !important;
    border-radius: 3px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .gridClass {
    align-items: center !important;
    text-align: center !important;
  }
  
  .title {
    text-align: center;
  }
  .container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  .container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  .container a {
    text-decoration: none;
  }
  
  ion-content ion-toolbar {
    --background: translucent;
  }
   
  
  
  
  // START MEDIA QUERY //
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .img1 {
      width:320px;
      height:568px;
    }
    .book-icon{
      font-size:18px;
    }
    .icon-text{
      font-size:11px;
      margin-bottom: 0px;
      margin-top:2px;
    }
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
      .img1 {
        width:320px;
        height:568px;
      }
      .book-icon{
        font-size:18px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
      .img1 {
        width:320px;
        height:568px;
      }
      .book-icon{
        font-size:18px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
      .img1 {
        width:320px;
        height:568px;
      }
      .book-icon{
        font-size:18px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
      
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
      .img1 {
        width:320px;
        height:568px;
      }
      .book-icon{
        font-size:18px;
      }
      .book-icon{
        font-size:18px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
      .img1 {
        width:320px;
        height:640px;
      }
      .book-icon{
        font-size:18px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
      .img1 {
        width:320px;
        height:640px;
      }
      .book-icon{
        font-size:18px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
      .img1 {
        width:320px;
        height:640px;
      }
      .book-icon{
        font-size:18px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
      .img1 {
        width:320px;
        height:640px;
      }
      .book-icon{
        font-size:18px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
      .img1 {
        width:360;
        height:640px;
      }
      .book-icon{
        font-size:18px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
      .img1 {
        width:360px;
        height:640px;
      }
      .book-icon{
        font-size:18px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
      .img1 {
        width:375px;
        height:667px;
      }
      .book-icon{
        font-size:20px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
      .img1 {
        width:375px;
        height:667px;
  
      }
      .book-icon{
        font-size:20px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
      .img1 {
        width:375px;
        height:812px;
      }
      .book-icon{
        font-size:20px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
      .img1 {
        width:375px;
        height:812px;
      }
      .book-icon{
        font-size:20px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    @media only screen and (min-width: 411px) and (max-width: 731px) { 
      
      .img1 {
        width:411px;
        height:731px;
      }  
      .book-icon{
        font-size:20px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    }
    @media only screen and (min-width: 411px) and (max-width: 823px) { 
      
      .img1 {
        width:411px;
        height:823px;
      }  
      .book-icon{
        font-size:20px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
      .img1 {
        width:414px;
        height:736px;
      }
      .book-icon{
        font-size:20px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
      .img1 {
        width:414px;
        height:736px;
      }
      .book-icon{
        font-size:20px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
      .img1 {
        width:414px;
        height:896px;
      }
      .book-icon{
        font-size:20px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
      .img1 {
        width:414px;
        height:896px;
      }
      .book-icon{
        font-size:20px;
      }
      .icon-text{
        font-size:11px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
      .img1 {
        width:768px;
        height:1024px;
      }
      .book-icon{
        font-size:30px;
      }
      .icon-text{
        font-size:16px;
        margin-bottom: 0px;
        margin-top:1px;
      }
  
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
      .img1 {
        width:768px;
        height:1024px;
      }
      .book-icon{
        font-size:30px;
      }
      .icon-text{
        font-size:16px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
  
  
   /* iPads (landscape) ----------- */
   @media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) {
      .img1 {
        width:1024px;
        height:1366px;
      }
      .book-icon{
        font-size:40px;
      }
      .icon-text{
        font-size:25px;
        margin-bottom: 0px;
        margin-top:1px;
      }
    /* Styles */
    }
  
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    