<div>
<ion-header [translucent]="true">
<ion-toolbar class="new-background-color">
 </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true" color="light">
 <ion-card class="cardclscancel">
 <ion-card-header>
   <ion-card-title class="titleclscancel">Are you sure you want to cancel your recording?</ion-card-title>
 </ion-card-header>    
     <ion-card-content>
       <div>
       <ion-grid class="gridcls">
         <ion-row>
           <ion-col size="5">
            <ion-button class="borderclsgrn" (click)="backToQuestionScreen()">
              <ion-label class="labelclsgrncancel">
                YES
              </ion-label>
              </ion-button>
           </ion-col>
           <ion-col size="5">
             <ion-button class="borderclsred" >
              <ion-label class="labelclsredcancel">
                NO
              </ion-label>
             </ion-button>
           </ion-col>
         </ion-row>
       </ion-grid>
      </div>
       </ion-card-content>
</ion-card>
</ion-content>
</div>